 html{
  height: 99%;
  width: 99%;
  color: #f50000;
}
.banner{
  background-color: #6a5acd;
  margin: 15px;
  padding: 10px;
  border: 3px solid #FF4500;
  box-shadow: 5px 5px 5px 5px #89CFF0 ;
  outline:10px 10px red groove;
  text-transform: capitalize;
  text-shadow:1px 1px #000000;
  font-family:cursive;
  height:230px;
  text-align: right;
  text-size-adjust: 48px;
}
body{
  color: #F5F5F5;
  size: 40px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
}
