html{
  height: 99%;
  width: 99%;
  color: #f50000;
}
.banner{
  background-color: #6a5acd;
  margin: 15px;
  padding: 10px;
  border: 3px solid #04adf6;
  box-shadow: 5px 5px 5px 5px #00aaff ;
  outline:10px 10px red groove;
  text-transform: capitalize;
  text-shadow:1px 1px #000000;
  font-family:cursive;
  height:230px;
  text-align: right;
  text-size-adjust: 48px;
}
body{
  color: #ff1414;
  size: 40px;
}
